@import "font/NanumBarunGothicUltraLight/nanum-barun-gothic-ultralight.css";

html, body {
    width: 100%;
    height: 100%;
    font-family: nanum-barun-gothic-ultralight, sans-serif !important;
    color: white;
}

nav {
    position: absolute;
    width: 100%;
    height: 72px;
    z-index: 9999;
    padding: 12px;
    color: white;
}

nav > a {
    color: white;
    text-decoration: none;
}

#back {
    font-size: 22px;
    margin: 12px;
}

header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -99;
}

.vertical-center-container {
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-center-item {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.blur-background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    background: inherit;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
}

#login-item {
    position: relative;
    width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 36px;
}

#login-item div.field > label {
    color: white;
}

#login-item div.field > input {
    background: rgba(255, 255, 255, 0);
    border: solid white 2px;
    color: white;
    -webkit-text-fill-color: white;
}

#sign-up-button {
    position: absolute;
    bottom:0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}